{% extends 'base.html.twig' %}

{% block content %}
    <!-- top tiles -->
    <div class="row" style="display: inline-block;" >
        <div class="tile_count">
            <div class="col-md-12 col-sm-12  tile_stats_count">
                <span class="count_top"><i class="fa fa-clock-o"></i>  Monitoring status</span>
                <div class="count {% if currentProject.monitoringStatusOk %}green{% else %}red{% endif %}">{% if currentProject.monitoringStatusOk %}OK{% else %}BROKEN{% endif %}
                    {% if currentProject.monitoringStatusOk %}
                        ({{ currentProject.monitoringTasks.count }} / {{ currentProject.monitoringTasks.count }})
                    {% else %}
                        ({{ currentProject.badMonitoringStatusCount.count }} / {{ currentProject.monitoringTasks.count }})
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- /top tiles -->
    <div class="row">
        <div class="col-md-12">
            {% for tag in currentProject.tagList %}
               <div class="x_panel">
                    <div class="x_title">
                        <h2>{{ tag }}</h2>
                        <div class="clearfix"></div>
                    </div>

                   <div class="x_content row">
                   {% for account in currentProject.accounts %}
                       {% if account.tag == tag %}
                                <div class="col-md-3 col-sm-12 ">
                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h2>{{ account.title }}</h2>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="x_content">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <th scope="row">login</th>
                                                    <td style="word-break: break-all;">{{account.login}}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">password</th>
                                                    <td style="word-break: break-all;">{{account.password}}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">link</th>
                                                    <td style="word-break: break-all;"><a href="{{ account.link }}">{{account.link}}</a></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">extra data</th>
                                                    <td style="word-break: break-all;">{{account.extraData}}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">description</th>
                                                    <td style="word-break: break-all;">{{account.description}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                   {% endif %}
                {% endfor %}
                   </div>
            </div>
            {% endfor %}
               <div class="x_panel">
                    <div class="x_title">
                        <h2>Another</h2>
                        <div class="clearfix"></div>
                    </div>

                   <div class="x_content row">
                   {% for account in currentProject.accounts %}
                       {% if account.tag is empty  %}
                                <div class="col-md-3 col-sm-12 ">
                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h2>{{ account.title }}</h2>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="x_content">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <th scope="row">login</th>
                                                    <td style="word-break: break-all;">{{account.login}}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">password</th>
                                                    <td style="word-break: break-all;">{{account.password}}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">link</th>
                                                    <td style="word-break: break-all;"><a href="{{ account.link }}">{{account.link}}</a></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">extra data</th>
                                                    <td style="word-break: break-all;">{{account.extraData}}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">description</th>
                                                    <td style="word-break: break-all;">{{account.description}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                   {% endif %}
                {% endfor %}
                   </div>
            </div>
        </div>
    </div>


{% endblock %}

{#{% block content %}#}
{#    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">#}
{#        <a class="navbar-brand js-scroll-trigger" href="#page-top">#}
{#            <span class="d-block d-lg-none">SK-storage</span>#}
{#            <span class="d-none d-lg-block">#}
{#          </span>#}
{#        </a>#}
{#        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#            <span class="navbar-toggler-icon"></span>#}
{#        </button>#}
{#        <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#            <ul class="navbar-nav">#}
{#                {% for project in projects %}#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link js-scroll-trigger" href="#project_{{ project.id }}">{{ project.title }}</a>#}
{#                    </li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        </div>#}
{#    </nav>#}

{#    <div class="container-fluid p-0">#}
{#        {% for project in projects %}#}
{#            <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="project_{{ project.id }}">#}
{#                <div class="w-100">#}
{#                    <h2 class="mb-5">{{ project.title }}</h2>#}
{#                    {% for tag in project.tagList %}#}
{#                        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">#}
{#                            <div class="resume-content">#}
{#                                <h3 class="mb-0">{{ tag }}</h3>#}
{#                                {% for account in project.accounts %}#}
{#                                    {% if account.tag == tag %}#}
{#                                        <br>#}
{#                                        <table class="tg" style="border-width: medium">#}
{#                                            <tr>#}
{#                                                <th class="tg-0lax">Title: </th>#}
{#                                                <td class="tg-0lax">  {{ account.title }}</td>#}
{#                                            </tr>#}
{#                                            <tr>#}
{#                                                <th class="tg-0lax">Link: </th>#}
{#                                                <td class="tg-0lax">  <a href="{{ account.link }}">{{ account.link }}</a></td>#}
{#                                            </tr>#}
{#                                            <tr>#}
{#                                                <th class="tg-0lax">Login: </th>#}
{#                                                <td class="tg-0lax">  {{ account.login }}</td>#}
{#                                            </tr>#}
{#                                            <tr>#}
{#                                                <th class="tg-0lax">Password: </th>#}
{#                                                <td class="tg-0lax">  {{ account.password }}</td>#}
{#                                            </tr>#}
{#                                            <tr>#}
{#                                                <th class="tg-0lax">Description: </th>#}
{#                                                <td class="tg-0lax">  {{ account.description }}</td>#}
{#                                            </tr>#}
{#                                            <tr>#}
{#                                                <th class="tg-0lax">Extra Data: </th>#}
{#                                                <td class="tg-0lax">  {{ account.extraData }}</td>#}
{#                                            </tr>#}
{#                                        </table>#}
{#                                        <br>#}
{#                                        <hr class="m-0">#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}

{#                    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">#}
{#                        <div class="resume-content">#}
{#                            <h3 class="mb-0">Без тега</h3>#}
{#                                {% for account in project.accounts %}#}
{#                                    {% if account.tag is empty %}#}
{#                                    <br>#}
{#                                    <table class="tg" style="border-width: medium">#}
{#                                        <tr>#}
{#                                            <th class="tg-0lax">Title: </th>#}
{#                                            <td class="tg-0lax">  {{ account.title }}</td>#}
{#                                        </tr>#}
{#                                        <tr>#}
{#                                            <th class="tg-0lax">Link: </th>#}
{#                                            <td class="tg-0lax">  <a href="{{ account.link }}">{{ account.link }}</a></td>#}
{#                                        </tr>#}
{#                                        <tr>#}
{#                                            <th class="tg-0lax">Login: </th>#}
{#                                            <td class="tg-0lax">  {{ account.login }}</td>#}
{#                                        </tr>#}
{#                                        <tr>#}
{#                                            <th class="tg-0lax">Password: </th>#}
{#                                            <td class="tg-0lax">  {{ account.password }}</td>#}
{#                                        </tr>#}
{#                                        <tr>#}
{#                                            <th class="tg-0lax">Description: </th>#}
{#                                            <td class="tg-0lax">  {{ account.description }}</td>#}
{#                                        </tr>#}
{#                                        <tr>#}
{#                                            <th class="tg-0lax">Extra Data: </th>#}
{#                                            <td class="tg-0lax">  {{ account.extraData }}</td>#}
{#                                        </tr>#}
{#                                    </table>#}
{#                                    <br>#}
{#                                    <hr class="m-0">#}
{#                                {% endif %}#}
{#                            {% endfor %}#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </section>#}
{#            <hr class="m-0">#}
{#        {% endfor %}#}
{#    </div>#}
{#{% endblock %}#}
